@model IEnumerable<final_project.Models.StoreType>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 style="color:#ff0000">Menu</h1>
    <div class="row">
        <div class="col-sm-4">
            <div>
                <h3 style="color:#efc7c7">Cameras</h3>
                <div>
                    <img alt="cameras" src="~/Assets/images/MenuApp.jpg" style="height:250px; width:200px" />
                </div>
                <hr />
                <div>
                    <a href="~/Home/Cameras" class="btn btn-lg btn-warning">
                        <span>View Cameras</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <h3 style="color:#efc7c7">Tablets</h3>
                <div class="active">
                    <img alt="tablets" src="~/Assets/images/tablets.jpg" style="height:250px; width:200px" />.
                </div>
                <hr />
                <div>
                    <a href="~/Home/tablets" class="btn btn-lg btn-warning">
                        <span>View Tablets</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <h3 style="color:#efc7c7">Phones</h3>
                <div class="active">
                    <img alt="dessert" src="~/Assets/images/Phones.jpg" style="height:250px; width:200px" />.
                </div>
                <hr />
                <div>
                    <a href="~/Home/Phones" class="btn btn-lg btn-warning">
                        <span>View Phones</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>